@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


/* DEFAULT CSS STARTS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 1111px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
body{
    font-size: 16px;
    font-family: "Kumbh Sans", sans-serif;
}

/* DEFAULT CSS STARTS */

/* NAV STARTS */

header{
    width:1180px;
    /* background-color: cadetblue; */
    margin: 0 auto;
}
header hr{
    opacity: 0.3;
    background-color: hsl(219, 9%, 45%);
}
header nav {
    margin: 20px 0px 0px;
    
    
}
header nav .logo{
    cursor: pointer;
    margin:30px 55px 35px 0px;
}
header nav .menu li a{
    color: hsl(219, 9%, 45%);
    transition: 0.3ms;
}
header nav .menu li a:hover{
    margin-top: -50px;
    border-radius: 8px;
    border-bottom: 4px solid hsl(26, 100%, 55%) ;
} 
header nav .cart{
    margin-left: 410px;
    position: relative;
}
header nav .cart li{
    margin-right: 60px;
}
header nav .cart span img{
    width: 55px;
    height: 55px;
    margin-top: 10px;
    transition: 0.5ms;
}
header nav .cart span img:hover{
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid hsl(26, 100%, 55%);
}
header nav ul li{
    margin:30px 30px 35px 0px;
}
header nav ul li div{
    z-index: 99;
    position: absolute;
    margin-top:15px;
    margin-left: -120px;
    width: 300px;
    height: 200px;
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    visibility: hidden;
    transition: 0.3s;
}
header nav ul li:hover div{
    visibility: visible;
}
header nav ul li div a{
    color: #000;
    font-weight: 700;
    display: inline-block;
    padding: 10px;
    margin: 10px;
}
header nav ul li div p{
    color:hsl(26, 100%, 55%);
    font-weight: 700;
}
header nav ul li div p{
    display: inline-block;
    margin: 50px 80px 50px 80px;
}
header nav ul li div hr{
    opacity: 1;
}


/* NAV ENDS */

/* BANNER STARTS */

section{
    margin-top: 90px;
}
section .bannerbg{
    width: 50%;
    /* border: 1px solid green; */
}
section .bannerbg .bannerA img{
    margin: 0px 50px;
    width: 400px;
    height: 400px;
    border-radius: 12px;
}
section .bannerbg .bannerB{
    margin: 30px 35px ;
}
section .bannerbg .bannerB img{
    width: 80px;
    height: 80px;
    margin: 0px 12px;
    border-radius: 12px;
    transition: 0.4ms;
}
section .bannerbg .bannerB img:hover{
    border-radius: 12px;
    border: 3px solid hsl(26, 100%, 55%);
}
section .bannerCnt{
    width: 50%;
    /* border: 1px solid gray; */
}
section .bannerCnt .bannertext{
    margin-left: 60px;
}
section .bannerCnt .bannertext h5{
    letter-spacing: 3px;
    color: hsl(26, 100%, 55%);
    margin:65px 0px 10px ;
}
section .bannerCnt .bannertext h1{
    font-size: 45px;
    /* line-height: 48px; */
    margin-bottom: 35px;
}
section .bannerCnt .bannertext p{
    letter-spacing: 0.2px ;
    line-height: 26px;
    color: hsl(219, 9%, 45%);
    margin-bottom: 25px;
}
section .bannerCnt .bannertext h3{
    font-size: 28px;
    margin-right: 15px;
}
section .bannerCnt .bannertext h3 span{
    font-size: 16px;
    padding: 3px 10px;
    margin-left: 10px;
    border-radius: 5px;
    color: hsl(26, 100%, 55%);
    background-color: #ffede0;
}
section .bannerCnt .bannertext h6{
    font-size: 16px;
    color: hsl(220, 14%, 75%);
    text-decoration: line-through;
    margin-top: 10px;
    margin-bottom: 40px;
}
section .bannerCnt .bannertext .calc a{
    color: hsl(0, 0%, 0%);
    font-weight: 700;
    padding: 15px 0px;
    letter-spacing: 15px;
    border-radius: 10px;
    background-color: hsl(223, 64%, 98%);
}
section .bannerCnt .bannertext .calc a span{
    margin:0px 15px;
    cursor: pointer;
    transition: 0.4s;
}
section .bannerCnt .bannertext .calc a span:hover img{
    opacity: 0.5;
}
section .bannerCnt .bannertext .cart{
    margin-left: 15px;
    margin-top: -15px;
    border-radius: 10px;
    padding: 12px 65px;
    background-color:hsl(26, 100%, 55%) ;
    transition: 0.4s;
}
section .bannerCnt .bannertext .cart:hover{
    cursor: pointer;
    background-color:hsla(26, 100%, 55%, 0.555) ;
}
section .bannerCnt .bannertext .cart a{
    margin-left: 10px;
    font-size: 14px;
    color: hsl(0, 0%, 100%);
}

/* BANNER ENDS */

/* FOOTER STARTS */

footer {
    text-align: center;
    margin-bottom: 10px;
}
footer a{
    font-weight: 400;
    color: hsl(0, 5%, 73%);
}
footer a:hover{
    font-weight: 700;
    color: hsl(26, 100%, 55%)  ;
}

/* FOOTER ENDS */